[Unit]
Description=Traefik proxy
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/opt/berlinstrength/env
ExecStartPre=-/usr/bin/touch /opt/berlinstrength/acme.json
ExecStartPre=-/usr/bin/chmod 600 /opt/berlinstrength/acme.json
ExecStartPre=-/usr/bin/docker kill traefik
ExecStartPre=-/usr/bin/docker rm traefik
ExecStartPre=/usr/bin/docker pull traefik
ExecStart=/usr/bin/docker run --name=traefik -p 443:443 -p 80:80 -v /var/run/docker.sock:/var/run/docker.sock -v /opt/berlinstrength/traefik.toml:/traefik.toml -v /opt/berlinstrength/acme.json:/acme.json -e CLOUDFLARE_EMAIL -e CLOUDFLARE_API_KEY traefik:v1.7.16
ExecStop=/usr/bin/docker stop traefik
Restart=on-failure
RuntimeMaxSec=86400
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
